body {
  display: flex;
  justify-content: center;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAPqQaxtgVfOT95XCUPO7TcuiKrgu6e1VY_lhTMxcooP-EB30W');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

form {
  width: 50rem;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background: #1b3b1d;
  box-shadow: 2px 2px 10px #fffd82;
  border-radius: 10px;
  color: #ffffff;
  text-shadow: 1px 1px 5px black;
}

.field-input {
  width: 12rem;
}

form h1 {
  width: 100%;
  color: #bbc52c;
  text-shadow: 1px 1px 5px black;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: center;
  align-items: center;
  margin-bottom: 2rem;
}

.error {
  padding: 0 1rem;
  background: #52500a;
  font-weight: bold;
  color: #fff;
  box-shadow: 1px 1px 5px #ffffff;
}

button {
  margin: 2rem 2rem; 
  width: 8rem;
  height: 2rem;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  background: #bbc52c;
  color: #ffffff;
  text-shadow: 1px 1px 5px black;
  opacity: 0.6;
  box-shadow: 1px 1px 5px black;
  transition: 0.3s;
}

button:hover {
  opacity: 1;
}

button:active {
  box-shadow: none;
}

.users {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 50rem;
  margin: auto;
  margin-top: 2rem;
  background: #2f3114;
  color: #bbc52c;
  text-shadow: 1px 1px 5px black;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
}

.user-info {
  margin: auto;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: bold;
  background: #2a4111;
  width: 12rem;
}

.dropdown {
  width: 12rem;
}

.char-card {
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.inputs {
  margin: auto;
  width: 100%;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.user-info {
  margin: auto 2rem;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #fffd7e;
}

.user-info h4 {
  color: #929200;
  text-shadow: 1px 1px 10px #535200;
}

.user-info h5 {
  color: #929200;
  text-shadow: 1px 1px 10px #535200;
}